* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.blue {
    background-color: #0d325a;

    /* DA ELIMINARE */
    height: 200px;
}

#img-logo {
    padding-right: 30px;
}



.grey {
    background-color: #f9f9f9;

    /* DA ELIMINARE */
    height: 200px;
}
.white {
    background-color: white;

    /* DA ELIMINARE */
    height: 200px;
}
