* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
}


/* -------------------------------- Formattazione Header ------------------- */
.blue {
    background-color: #0d325a;
}

header {
    height: 50vh;
    max-height: 500px;
    color: white;
    position: relative;
}

nav {
    position: relative;
    height: 90px;
    text-align: center;
    line-height: 50px;
    font-size: 11px;
    padding: 20px 0;
    font-weight: 700;
}

#img-logo {
    float: left;
    vertical-align: middle;
}
#menu {
    float: left;
    padding: 0 50px;
}
#menu li {
    list-style: none;
    float: left;
    padding: 0 10px;
    text-transform: uppercase;
}

.nav-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 0;
    text-transform: uppercase;

}
.nav-buttons * {
    margin: 0 10px;
    font-size: 11px;
}

button {
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

#btn-login {
    padding: 8px 25px;
    background-color: #0d325a;
    border: 1px solid white;
}

.btn-struttura-piano {
    padding: 8px 10px;
    border: 1px solid #7cbb02;
    background-color: #7cbb02;
}

.left-tagline {
    position: absolute;
    width: 50%;
    top: 50%;
    font-size: 20px;
    z-index: 2;
    transform: translate(0 , -30%);
    font-weight: 700;
}

.left-tagline .btn-struttura-piano {
    padding: 20px 15px;
}

#oldman {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(50vh - 70px);
    max-height: 430px;
    transform: translateX(20%);
}

/* ------------------------------------Formattazione section grey-------------- */
.grey {
    background-color: #d3d3d3;
}
.grey .container {
    text-align: center;
    padding: 35px 0;
    line-height: 30px;
}

.grey h2 {
    color: black;
    padding-bottom: 15px;
}

.grey p {
    color: #808080;
}

/* ----------------------------------------Formattazione section white ----------------- */
.white {
    background-color: white;
}

.card {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 25px 20px;
}
.card img {
    height: 160px;
    object-fit: contain;
    padding-bottom: 30px;
}
.card h4 {
    color: #7cbb02;
    top: 200px;
    padding-bottom: 15px;
}
.card hr {
    margin: auto;
    width: 60px;
    border: 1px solid #808080;
}
.card p {
    padding-top: 15px;
    color: #808080
}
